/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Lato";
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
  display: flex;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.left-content {
  width: 28%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("../sideImage4.jpg");
  background-size: cover;
}
.left-content header {
  text-align: center;
  opacity: 1;
}
.left-content header h1 {
  font-size: 3rem;
  font-family: "Pacifico";
}
.left-content header h2 {
  font-size: 2rem;
}
.left-content header img {
  width: 65%;
  border-radius: 150px;
  opacity: 0.8;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.left-content .left-text {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  opacity: 1;
}
.left-content .left-text h3 {
  font-size: 1.5rem;
  font-family: "Pacifico";
}
.left-content .left-text p {
  padding: 1rem;
}
.left-content .left-text li {
  line-height: 2;
}
.left-content .left-text .contact {
  margin-top: 2rem;
}
.left-content .left-text .contact ul {
  padding: 1rem;
}
.left-content .left-text .hobbies {
  margin-top: 2rem;
}
.left-content .left-text .hobbies ul {
  padding: 1rem;
}
.right-content {
  width: 95%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
}
.right-content h3 {
  font-family: "Pacifico";
  font-size: 2.5rem;
  text-align: center;
  margin-top: 1.5rem;
}
.right-content .right-left {
  width: 70%;
  border-right: 2px solid #fec2ad;
}
.right-content .right-left .Projects {
  width: 100%;
}
.right-content .right-left .Projects .work {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 95%;
  margin-top: 1rem;
}
.right-content .right-left .Projects .work .text {
  padding-left: 1rem;
}
.right-content .right-left .Projects .work .text h4 {
  font-size: 1.3rem;
  font-weight: bold;
}
.right-content .right-left .Projects .work .text ul {
  margin-left: 1rem;
  list-style: none;
}
.right-content .right-left .Projects .work .text ul li {
  text-indent: -1rem;
  padding-left: 1rem;
}
.right-content .right-left .Projects .work .text ul li::before {
  content: "\2022";
  color: #fec2ad;
  display: inline-flex;
  width: 1rem;
}
.right-content .right-left .Skills {
  border-top: 2px solid #fec2ad;
  margin-top: 2rem;
  padding-left: 1rem;
}
.right-content .right-left .Skills h4 {
  font-size: 1.3rem;
  font-weight: bold;
}
.right-content .right-left .Skills p {
  padding: 1rem;
  width: 75%;
  margin-left: 3rem;
}
.right-content .right-right {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-right: 1.2rem;
}
.right-content .right-right .Education .work {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 95%;
}
.right-content .right-right .Education .work .text {
  padding-left: 1rem;
}
.right-content .right-right .Education .work .text h4 {
  font-size: 1.3rem;
  font-weight: bold;
}
.right-content .right-right .Education .work .text ul {
  margin-left: 1rem;
  list-style: none;
}
.right-content .right-right .Education .work .text ul li {
  text-indent: -1rem;
  padding-left: 1rem;
}
.right-content .right-right .Education .work .text ul li::before {
  content: "\2022";
  color: #fec2ad;
  display: inline-block;
  width: 1rem;
}
.right-content .right-right .Employment {
  display: flex;
  flex-direction: column;
  border-top: 2px solid #fec2ad;
  margin-top: 2em;
}
.right-content .right-right .Employment .work {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
}
.right-content .right-right .Employment .work .text {
  padding-left: 1rem;
}
.right-content .right-right .Employment .work .text h4 {
  font-size: 1.3rem;
  font-weight: bold;
}
.right-content .right-right .Employment .work .text ul {
  margin-left: 1rem;
  list-style: none;
}
.right-content .right-right .Employment .work .text ul li {
  text-indent: -1rem;
  padding-left: 1rem;
}
.right-content .right-right .Employment .work .text ul li::before {
  content: "\2022";
  color: #fec2ad;
  display: inline-block;
  width: 1rem;
}
